#games-section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* overflow: scroll; */
}

.side-banner {
  position: absolute;
  background-color: black;
  width: 60px;
  height: 100%;
  background: url("../images/nightsky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-left {
  left: 0;
  border-right: 3px solid cornflowerblue;
}
.banner-right {
  right: 0;
  border-left: 3px solid cornflowerblue;
}

.games-container {
  display: grid;
  width: 100%;
  margin: 30px;
  grid-template-columns: auto;
  grid-auto-rows: auto;
  justify-items: center;
  gap: 3em;
  grid-template-areas:
    "game-1 game-2"
    "game-3 game-4";
}

.game {
  font-family: "Roboto";
  cursor: pointer;
  padding: 2%;
  background-color: white;
  height: 100%;
  width: 100%;
  min-height: 300px;
  min-width: 400px;
  max-height: 300px;
  max-width: 500px;
  box-shadow: 3px 4px 9px 0px black;
  background-color: rgb(82, 82, 82);
  border-radius: 5px;
  border: 2px solid rgba(22, 117, 180, 0);
  transition: all 0.5s ease-in-out;
  display: grid;
  gap: 1em;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  grid-template-areas:
    "image title"
    "image description";
}

/* .game:hover {
  border: 2px solid rgb(22, 117, 180);
  box-shadow: 2px 3px 12px 0px rgba(22, 117, 180, 1);
  transition: all 0.5s ease-in-out;
} */

.image {
  grid-area: image;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-height: 300px;
  max-width: 300px;
  border: 2px dashed white;
}

.game-title {
  color: rgb(22, 117, 180);
  border-radius: 20px;
  font-size: 30px;
  font-weight: bold;
  grid-area: title;
  max-width: 250px;
}

.game-description {
  grid-area: description;
  border: 2px solid white;
  border-radius: 10px;
  width: 250px;
  height: 200px;
  padding: 8px;
  max-width: 250px;
  min-width: 250px;
  max-height: 200px;
  min-height: 200px;
  overflow: auto;
}

.game-description::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4%;
  border-radius: 20px;
  background-color: rgba(82, 82, 82, 0);
}
.game-description::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  border-radius: 20px;
  background-color: rgba(0, 153, 255, 0.6);
}

.game-1 {
  grid-area: game-1;
}
.game-2 {
  grid-area: game-2;
}
.game-3 {
  grid-area: game-3;
}
.game-4 {
  grid-area: game-4;
}

@media (max-width: 792px) {
  .games-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 50px;
  }
  .game {
    margin: 30px;
  }
}
